:root {
    --f-bgc: #EEEEEE;
    --f-c: #222831;
    --s-bgc: #00ADB5;
    --s-c: #112D4E;
    --t-bgc: #CBF1F5;
    --t-c: #E3FDFD;
    --fth-bgc: #393E46;
    --fth-c: #E3FDFD;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--f-bgc, #eee);
    color: var(--bodyc, #000000);
    overflow-x: hidden;
}
/* Loader */
#preloader-container{
    width:  100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#preloader {
    width:  500px;
    height: 500px;
    border: 3px solid gainsboro;
    border-radius: 50%;
}
/* Header */
.nav {
    position: sticky;
    width: 100%;
    height: 80px;
    background-color: var(--s-bgc, darkcyan);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    direction: ltr;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* Welcome */
.welcome {
    display: flex;
    align-items: center;
    overflow: hidden;
}
#welcome {
    font-size: 1.5rem;
    animation: marquee 7.5s infinite alternate;
    text-align: center;
    padding: 5px;
    border-radius: 25px;
}
@keyframes marquee {
    0% {
        transform: translateX(100px);
        border: 0px;
        color: var(--s-bgc);
        font-size: 0px;
    }
    50% {
        transform: translateX(250px);
        border: 2px dotted darkcyan;
        color: var(--navc);
        font-size: 1.5rem;
    }
    100% {
        transform: translateX(600px);
        border: 0px;
        color: var(--s-bgc);
        font-size: 0px;
    }
}
/* Menu */
.menu {
    display: flex;
    justify-content: end;
    align-items: center;
}
#hamberger {
    display: none;
}
#menu {
    display: flex;
}
#menu span {
    display: none;
}
#menu li {
    list-style: none;
    padding: 1.5rem;
    margin:0 25px;
    transition: all 1s;
}
#menu li:hover {
    background-color: var(--f-bgc , #eee);
    box-shadow: 5px 5px 10px var(--f-c);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: all 1s;
}
#menu li a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--f-c, #000000);
}
/* About */
#about {
    background-color: var(--s-c);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Image */
.about-image {
    width: 35%;
    height: 425px;
    border-radius: 1.5rem;
}
.about-image img {
    width: 100%;
    height: 430px;
    border-radius: 1.5rem;
}
.about-image img:hover {
    box-shadow: 5px 5px 10px var(--t-bgc);
}
/* Text */
.about-text {
    width: 55%;
    height: auto;
    max-height: 430px;
    background-color: var(--t-bgc);
    border-radius: 1.5rem;
    overflow-y: scroll;
}
.about-text:hover {
    box-shadow: 5px 5px 10px var(--t-c);
    color: var(--s-c);
}
.about-text p {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 50px;
    padding: 20px;
}
/* Works */
#works {
    border: 5px groove gray;
    padding: 5px;
    width: 100%;
}
.works-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}
.works {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
}
.work {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 420px;
    border: 2px double slategray;
    border-radius: 1.5rem;
    justify-content: center;
    align-items: center;
}
#work {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Video */
#work video {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
/* Title and Download */
#work span {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;  
    display: none;
    transition: all 1s;
}
#work:hover span {
    height: 50%;
    font-size: 25px;
    color: var(--s-c);
    background-color: rgba( 0, 173, 181, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    transition: all 1s;
}
/* Description */
.work p {
    font-size: 25px;
    background-color: var(--t-c);
    color: var(--f-c);
    padding: 5px;
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}
/* Content */
#content {
    background-color: var(--t-bgc);
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
}
/* Social networks */
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0px dotted gray; /* 5px */
    padding: 1rem;
}
.networks {
    display: flex;
    align-items: center;
}
.networks img {
    margin: 0 35px;
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 25px;
}
/* Information */
.information {
    display: none; /* grid */
    grid-template-rows: auto auto;
    align-items: center;
    padding: 1rem;
}
.information h1 {
    padding: 5px 10px;
    font-size: 40px;
    text-align: center;
    justify-self: center;
    background-color: var(--s-bgc);
    border-radius: 50px;
    margin: 15px;
}
.information h2 {
    padding: 5px 10px;
    font-size: 30px;
    text-align: center;
    background-color: var(--f-bgc);
    border-radius: 50px;
    margin: 10px;
}
/* Footer */
.footer {
    height: 50px;
    background-color: var(--fth-bgc);
    color: var(--f-bgc);
    text-align: center;
    align-items: center;
    padding: 15px;
    font-size: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
/* Arrow */
.arrow {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    display: none; /* flex */
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: sandybrown;
    transition: all 1s;
    border: 5px solid bisque;
}
.arrow:hover {
    cursor: pointer;
    transition: all 1s;
    transform: scale(1.1);
}